---
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";

const educationEntries = await getCollection("education");
const projectsEntries = await getCollection("projects");
const companiesEntries = await getCollection("experience");
const awardsEntries = await getCollection("awards");
const skillsEntries = await getCollection("skills");

const renderedEntries = await Promise.all(
  awardsEntries.map((item) => item.render())
);

const companiesWithProjects = await Promise.all(
  companiesEntries.map(async (item) => ({
    name: item.data.companyName,
    startDate: item.data.startDate,
    endDate: item.data.endDate,
    projects: await Promise.all(
      projectsEntries
        .filter((project) => project.data.company.id === item.id)
        .map(async (project) => ({
          render: await project.render(),
          skills: {
            frontend: project.data.frontend,
            backend: project.data.backend,
            devops: project.data.devops,
          },
        }))
    ),
  }))
);
---

<Layout title="Welcome to Astro.">
  {
    companiesWithProjects.map((item) => (
      <>
        <p>{item.name}</p>
        <p>Projects</p>
        {item.projects.map((project) => (
          <>
            <p>Skills used:</p>
            <div class="flex gap-4">
              <div>
                <p>Frontend</p>
                <div class="flex gap-2" />
              </div>
            </div>
            <project.render.Content />
          </>
        ))}
      </>
    ))
  }
  {renderedEntries.map((item) => <item.Content />)}
  <div class="flex">
    {
      skillsEntries.map((item) =>
        item.data.logo ? (
          <div class={`w-8 h-8 i-logos-${item.data.logo}`} />
        ) : null
      )
    }
  </div>
  <p class="text-red-4">test</p>
  <div class="i-logos-astro-icon w-4 h-4"></div>
</Layout>
